{% extends 'base.html' %}

{% block content %}
<!-- Begin page content -->

<div class="container mt-5">
    <h1 class="text-center mb-4">Daily Debt Customers</h1>
    <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">
        <i class="fas fa-arrow-left"></i> Back to Home
    </a>
    
    

    <!-- Form for filtering by dates -->
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="from_date" class="form-label">From Date:</label>
                <input type="date" name="from_date" class="form-control" id="from_date" value="{{ request.GET.from_date }}">
            </div>
            <div class="col-md-5 mb-3">
                <label for="to_date" class="form-label">To Date:</label>
                <input type="date" name="to_date" class="form-control" id="to_date" value="{{ request.GET.to_date }}">
            </div>
            <div class="col-md-2 mb-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100">Filter</button>
            </div>
        </div>
    </form>

    <!-- Table of debt customers -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Customer Name</th>
                    <th>Amount Due</th>
                    <th>Date</th>
                    <!-- <th>Actions</th> -->

                </tr>
            </thead>
            <tbody>
                {% for debt_customer in debt_customers %}
                    <tr>
                        <td>{{ debt_customer.name }}</td>
                        <td>{{ debt_customer.pending_amount }}</td>
                        <td>{{ debt_customer.date|date:"Y-m-d" }}</td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No debt customers found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
