<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete "{{ order_item.product.name }}"?</p>
    <form action="{% url 'orders_detail_delete' order_item.id %}"method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
    <a href="{% url 'orders_detail' order_item.orders.pk %}">Cancel</a>
</body>
</html>
